<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <a href="{{.UserInfoURL}}">Get User Info</a><br/>
    <a href="{{.UserEmailsURL}}">Get User Emails</a><br/>
    <a href="{{.UserOrgsURL}}">Get User Orgs</a>
</body>
</html>
